.cartcontainer{
    /* background-color: aqua; */
    padding: 5px;
    height: 90%;
    margin-top: 10px;
}
.carttitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
    margin-bottom: 10px;
    padding: 5px;
}
.cartrmovebtnall{
    padding: 10px;
    border: none;
    background-color: red;
    border-radius: 5px;
    color: white;

    cursor: pointer;
}
.cartrmovebtnall:hover{
background-color: rgb(148, 3, 3);
}
.carttotalconatiner {
  /* background-color: rgb(93, 117, 117); */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.checkoutbtn{
  background-color: blue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}
.checkoutbtn:hover{
background-color: rgb(6, 6, 165);
}
.cartitemcon{
    /* background-color: beige; */
    height: 85%;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
}
/* Customizing scrollbar for WebKit browsers */
.cartitemcon::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }
  
  .cartitemcon::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }
  
  .cartitemcon::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }
  
  .cartitemcon::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
  