.storecontainer {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.no-products {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
.productstorecontainer {
  display: flex;
  align-items: center;
  max-width: 1300px; /* Add max-width for responsiveness */
  width: 100%; /* Make it take full width */
  padding: 10px;
}

.filtercontainer {
  /* background-color: blue; */
  flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis */
  height: 800px; /* Fixed height for filtercontainer */
  padding: 0px 10px;
}
.filtercontainer.visible {
  display: block;
}
.filtertxt{
  /* background-color: #007bff; */
  padding: 5px;
}
.productscontainer {
  /* background-color: red; */
  flex: 2 1 1000px; /* flex-grow, flex-shrink, flex-basis */
  padding: 10px;
  height: 800px; /* Fixed height for productscontainer */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  width: 1400px;
  overflow-y: auto; /* Make the container scrollable vertically */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Customizing scrollbar for WebKit browsers */
.productscontainer::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.productscontainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

.productscontainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.productscontainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
.titlefilter {
  font-size: 10px;
  font-weight: 400;
  /* background-color: aqua; */
  margin: 10px 0px;
  text-transform: uppercase;
}
.filtertxt {
  font-size: 15px;
  font-weight: 300;
  
}
.productweight {
  display: flex;
  flex-direction: column;
}
.radioweight {
  margin-right: 5px ;
  cursor: pointer;
  

}
.productprice {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
}
.price-filter {
  margin: 5px 0px;
  cursor: pointer;
  margin-right: 5px;
}
.filter-button {
  position: fixed;
  bottom: 80px; /* Increase the distance from the bottom */
  right: 40px; /* Increase the distance from the right */
  padding: 10px 15px; /* Increase padding to make the button larger */
  font-size: 18px; /* Increase font size for better visibility */
  z-index: 1100; /* Ensure the button appears above other elements */
  background-color: #007bff; /* Add background color */
  color: #ffffff; /* Add text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer;
  outline: none; /* Remove outline */
  display: none;
}

.filter-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure the overlay is above other content */
  display: none;
}
.filtercontainer {
  height: 100%;
  background-color: white;
  padding: 10px;
}

.filtercontainer.visible {
  transform: translateX(0); /* Slide in the filter container */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.search-bar-store{
  margin-top: 10px;

}
.productcategory{
  display: flex;
  flex-direction: column;
}
.search-input-store {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
@media (max-width: 1130px) {
  .filter-button {
    display: block;
  }
  .filtercontainer {
    /* Initially hide the filter container */
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    background-color: white;
    z-index: 1001; /* Ensure the filter container is above the overlay */
    transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
    transform: translateX(-100%);
  }
  .overlay {
    display: block; /* Show overlay when filter container is visible */
  }
  .close-button {
    display: block;
  }
}
